*{
	background: rgba(240,230,181,1);
}

#header
{
    margin: 0;
    padding: 0 ;
    text-align: right;
}

#content
{
    margin-left: 300px;
    padding: 10px;
}

#sidebar
{
    margin-top: 140px;
    float: left;
    width: 190px;
    border:solid #ffa500;
}

#footer
{
    margin-top: 20%;
    text-align: center;
}


h1 {
	color:rgba(147,91,62,1);;
	margin-left: 40%;
	font-size: 50px;
}

h3 {
	margin-left: 25px;
    font-size: 22px;
}

h2 {
    font-size: 30px;
}

ul li  a{
	display:block;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #ffa500;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

a {
	padding-top:7px;
	padding-bottom:7px;
	color: #ffa500;
	text-decoration:none;
	font-size: 22px;
    font-weight: bold;
}

ul li {
	padding-top:7px;
	padding-bottom:7px;
	text-decoration:none;
	font-size: 22px;
}

p {
    text-indent: 2em
}