{% extends "gambler/show_lists.html" %}

{% block list3 %}


<h2>
    Apuestas
</h2>

<ul>
        {% for apuesta in latest_apuesta_list %}
            <li><a href="{% url 'gambler:apuesta_detail' apuesta.id %}">{{ apuesta.user}} / {{ apuesta.partido.equipoVisitante.nombreEquipo }} - {{ apuesta.partido.equipoLocal.nombreEquipo }}</a></li>
        {% empty %}
            <li>Disculpa pero por el momento no tenemos registrada ninguna apuesta para este partido.</li>
        {% endfor %}
</ul>

{% endblock list3 %}