{% extends "gambler/base.html" %}
{% load staticfiles %}

{% block content %}

	<script>
        $(function()	{
            $("#id_pais").autocomplete({
                source:	function(	request,	response	)	{
                    $.ajax({
                        url:	"http://ws.geonames.org/searchJSON",
                        dataType:	"jsonp",
                        data:	{
                            featureClass:	"P",
                            maxRows:	10,
                            name_startsWith:	request.term,
				            username:	"APIgambler"
                        },
                        success:	function(	data	)	{
                            response(	$.map(	data.geonames,	function(	item	)	{
                                return	{
                                    countryName:	item.countryName
                                }
                            }));
                        }
                    });
                },
                minLength:	2,
                select:	function(	event,	ui	)	{
                    if	(ui.item)	{
                        $("#id_pais").val(ui.item.countryName);
                    }
                }
            });
        });
    </script>

     <form action="/search/" method="get">
        <table>
           {{ form.as_table }}
        </table>

         <input type="submit" value="Search">
    </form>
{% endblock %}