{% extends "gambler/base.html" %}
{% load staticfiles %}

{% block content %}

    <script>
        $(function() {
            $.getJSON("{% static "countries.json" %}", {}, function (pais) {
                $("#id_pais").autocomplete({
                    source: pais
                });
            });
        });
    </script>

     <form action="/search/" method="get">
        <table>
           {{ form.as_table }}
        </table>

         <input type="submit" value="Search">
    </form>
{% endblock %}