{% extends "gambler/base.html" %}

{% block title %}Gambler {% endblock %}

{% block content %}

<h2>

    Apuesta :

    {% if user.is_authenticated %}
        (<a href="{% url 'gambler:apuesta_create' partido.id %}">anadir</a>)
    {% endif %}


</h2>

    <span vocab="http://schema.org/" typeof="SportEvent">

{% for apuesta in partido.apuestas.all %}
    {% if apuesta.user == user %}
        <ul>
            <p>
                <li>
                    ID :
            <p>
                <span property="name">{{ apuesta.partido.id }}</span>
            </p>
            </li>
            <li>
                Resultado :
                <p>
                            <span property="homeTeam" typeof="SportsTeam">
                                <span property="name">{{ apuesta.partido.equipoLocal.nombreEquipo }}</span>
                            </span>
                    gol : {{ apuesta.resultado.golLocal }}
                </p>

                <p>
                            <span property="awayTeam" typeof="SportsTeam">
                                <span property="name"> {{ apuesta.partido.equipoVisitante.nombreEquipo }}</span>
                            </span>
                    gol : {{ apuesta.resultado.golVisitante }}
                </p>
            </li>
            <li>
                Apuesta :
                <p>
                    {{ apuesta.apuesta }} €
                </p>
            </li>
            <li>
                Descripcion :
                <p>
                    Pais : <span property="location">{{ apuesta.partido.equipoLocal.pais }}</span>
                </p>

                <p>
                    Fecha : <span property="startDate">{{ apuesta.partido.fecha }}</span>
                </p>

            </li>
            </p>
        </ul>
    {% endif %}

    {% empty %}

{% endfor %}

</span>

{% endblock %}
